
Merge/.vs/Merge/v15/.suo
Merge/.vs/Merge/v15/Server/sqlite3/storage.ide-shm
Merge/.vs/Merge/v15/Server/sqlite3/storage.ide-wal
Merge/Merge/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Merge/Merge/Form3.Designer.cs
